<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAY 1 - Response Manipulation</title>
</head>

<body>
    <h1>Login / Response Manipulation</h1>
    <form action="/" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <br>
        <br>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="passowrd" id="password" required>
        <br>
        <br>
        <br>

        <label for="two_factor">2FA Code:</label>
        <input type="text" name="two_factor" id="two_factor">
        <br>
        <br>
        <br>

        <input type="submit" value="Login">
    </form>

    <p>Kullanıcı adı admin ve Şifre password, 2FA code'u bypasslayabilir misin? </p>
</body>

</html>