<!DOCTYPE html>
<html>

<head>
    <title>Day 1 / Status Code Manipulation</title>
</head>

<body>
    <h1>Day 1 / Status Code Manipulation</h1>
    <form method="post" action="/endpoint">
        <label for="username">Kullanıcı Adı:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Şifre:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Giriş Yap</button>
    </form>
</body>

</html>