<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    <h2>Login</h2>
    <form method="POST" action="/">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>

        <label for="verification_code">2FA Code:</label>
        <input type="text" id="verification_code" name="verification_code"><br>

        <input type="submit" value="Login">
    </form>
</body>

</html>